body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ul{
	list-style: none
}
#chatMessages_div{
	min-height:200px;
	max-height:200px;
	text-align: left;
	border:solid 1px grey;
	overflow: auto
}

#cl_list ul li{
	text-align: left
}