<html ng-app="chatApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="static/js/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/bower_components/angular/angular.js"></script>
    <script src="static/js/bower_components/angular-resource/angular-resource.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/wsSocketClient.js"></script>
    <script src="static/js/socket2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Chat it Up</a>
        </div>
        <div class="collapse navbar-collapse">

        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="starter-template">
        <div ng-controller="chatMessages" id="chatMessages_div">
                    <ul>
                         <li ng-repeat="message in messages">
                            {{!message.data}}
                        </li>
                    </ul>
                </div>
                            <hr />
        <div class="row">
            <div ng-controller="clientsList" id="cl_list" class="col-md-1">
                <h3>Participants</h3>
                  <ul>
                    <li ng-repeat="client in clients">
                      {{!client.name}}
                    </li>
                  </ul>
            </div>
            <div ng-controller="chat_form" class="col-md-11">
                <form name="chat" ng-submit="send(message)">
                    <textarea name="message" ng-model="message.data" id="message" cols="80" rows="10"></textarea>
                    <br />
                     <button class="btn btn-primary" type="submit">Send</button>
                </form>
            </div>      
        </div>
            
    </div>
  
    </div><!-- /.container -->

</body>
</html>